body {
	background-color: #D7E9B9;
	margin: 0;
}

hr {
	width: 5%;
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	padding: 5px;
}

img {
	border-radius: 20%;
	margin-right: 20px;
}

#imp {
	padding: 10px;
}

a:hover {
	color: #3C6255;
}

#imp1 {
	background-color: #FAAB78;
	margin: 0;
	padding: 5px;
}